header {
    height: 15vh;
    border-bottom : 2px solid gray;
    background-color: black;
    padding: 0;
    color: white;
}

h1 {
    margin: 0;
}

.type {
height: 15vh;
width: 100%;
background-color:darkblue;
position: absolute;
bottom: 0;
}

.hero {
    position: relative;
}