<div class="hero">
  <header>
    <h1>Chat app</h1>

    <div class="card flex justify-content-center">
      <p-colorPicker [(ngModel)]="color"></p-colorPicker>
    </div>

    <button (click)="teste()">Teste</button>
  </header>

  <section class="messages-container">
    <div class="messages">
      <div *ngFor="let msg of mensagens">
        <p [style.color]="msg.color">{{ msg.username }}</p>
        <mat-card [style.border]="'5px solid ' + msg.color">
          <mat-card-content>
            {{ msg.message }}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>

  <div class="type">
    <input #messageInput type="text" />
    <button (click)="sendMessage(messageInput.value)">Enviar</button>
  </div>
</div>
